<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body ng-app="widgets">
  <div style="height: 80px"></div>

  <div ng-controller="PhotosCtrl">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <label>Select Filters</label><br>
      <select ng-model="filterSelect">
        <option value=""></option>
        <option ng-repeat="filter in filters">{{filter}}</option>
      </select>
    </div>

    <div class="col-sm-3">
    <label>Select Tags</label>
    <select ng-model="tagSelect" multiple>
      <option ng-repeat="tag in tags">{{tag}}</option>
    </select>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="col-sm-3">
        <button ng-click="prePage()" ng-hide="pageNum < 2">Pre</button>
      </div>
      <div class="col-sm-3">
        <button ng-click="nextPage()" ng-hide="pageNum >= maxPageNum">Next</button>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="col-sm-6 col-md-4" ng-repeat="photo in rawFeed.data | filter : filterSelect | filter: userSelect | myFilter : tagSelect | limitTo: photoPerPage : (pageNum-1)*photoPerPage">
          
          <div class="thumbnail">
            <a ng-href="{{photo.link}}">
              <img ng-src="{{photo.images.standard_resolution.url}}">
            </a>
            <div class="caption">
              <p>{{photo.created_time | date}}</p>
              <P>{{photo.likes.count}}</P>
              <a ng-href="https://instagram.com/{{photo.user.username}}/">
                <p>{{photo.user.username}}</p>
              </a>
              <p>{{photo.filter}}</p> <br>
              <p>
                <span ng-repeat="tag in photo.tags">#{{tag.slice(0,1)}} </span>
              </p>

            </div>
          </div>  
        </div> <!-- col-sm-6 col-md-4 -->
      </div> <!-- col-sm-8 -->

      <div class="col-sm-4">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Username</th>
              <th>Full Name</th>
            </tr>
          </thead>

          <tbody ng-repeat="photo in rawFeed.data">
            <tr ng-click="selectUser(photo.user.username)">
              <td><img  ng-src="{{photo.user.profile_picture}}" ng-style="{ 'width' : 30, 'height' : 30 }"/></td>
              <td> {{photo.user.username}} </td>
              <td>{{photo.user.full_name}} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> <!-- div.row -->
  </div>



<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="app.js"></script>
<script src="photo.js"></script>
</body>
</html>